MONGODB_CONNECTION=
SIGNINGKEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

STEAM_API_KEY=

URL=
PUBLIC_WS_URL=
PUBLIC_GEO_URL=

ROBUXSHIP=

MAILGUN_API_KEY=

PUBLIC_WS_ENV=development # staging | development | production
NODE_ENV=development # staging | development | production
PUBLIC_NODE_ENV=development # staging | development | production