$active-color: #ff5a5c;
$active-text-color: #ff6668;
$alt-text-color: #9e9e9e;
$background-color: #ffff;
$navbar-background-color: #6A1622;
$header-background-color: #5f141e;
$alt-background-color: #343232;
$darker-background-color: #521119;
$darkest-background-color: #ffff;
$chat-background-color: #242222;
$alt-chat-background-color: #403d3d;
$mobile-navbar-background-color: #1e1c1c;
$alt-navbar-color: #787ead;
$header-height: 66px;
$footer-height: 28px;
$earn-feed-height: 66px;
$nav-width: 220px;
$chat-width: 286px;
$nav-text-color: #a9a9ca;
$earn-page-padding: 28px;
